body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1 {
    text-align: center;

}

#studentForm {

    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px auto;
}

#studentForm label {
    display: block;
    margin-bottom: 5px;
}

#studentForm input {
    width: 200px;
    padding: 5px;
    margin-bottom: 15px;
}

#studentForm button {
    width: 150px;
    height: 50px;
    background-color: rgb(89, 113, 190);
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: none;
    outline: none;
}

span {
    color: red;
    margin-top: 0px;
    margin-bottom: 20px;
}