body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1,h2 {
    text-align: center;

}

#studentForm {

    display: flex;
    flex-direction: column;
    align-items: center;
}

#studentForm label {
    display: block;
    margin-bottom: 5px;
}

#studentForm input {
    width: 200px;
    padding: 5px;
    margin-bottom: 15px;
}

#studentForm button {
    width: 150px;
    height: 50px;
    background-color: rgba(255, 5, 143, 0.505);
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: none;
    outline: none;
    margin-bottom: 20px;
}

span {
    color: red;
    margin-top: 0px;
    margin-bottom: 20px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #ef189228;
}